body {
    background: #FFF0F5;
}

.weapper {
    width: 70px;
    margin: auto;
    text-align: center;
}

h1{
    text-align: center;
    margin: 20px;
    font-size: 6rem;
    color: rgb(39, 130, 210);
}

.dice-area {
    margin: 0px 50px;
    text-align: center;
    display: inline-block;
}

p{
    font-size: 2.5rem;
    color: rgb(20, 126, 218);

}

img{
    width: 320px;
}

footer{
  text-align: center;
  font-size: 1rem;
}
